version: "3.9"

services:
  {{ .ServiceName }}:
    image: {{ .Image }}
    env_file:
      - .env
    healthcheck:
      test:
{{- range .HealthcheckTest }}
        - {{ . }}
{{- end }}
      start_period: {{ .HealthcheckStartPeriod }}
      interval: {{ .HealthcheckInterval }}
      timeout: {{ .HealthcheckTimeout }}
      retries: {{ .HealthcheckRetries }}
    deploy:
      replicas: {{ .Replicas }}
      restart_policy:
        condition: {{ .RestartCondition }}
        delay: {{ .RestartDelay }}
        max_attempts: {{ .RestartMaxAttempts }}
        window: {{ .RestartWindow }}
      update_config:
        parallelism: {{ .Parallelism }}
        delay: {{ .RolloutDelay }}
        order: {{ .RolloutOrder }}
        failure_action: {{ .FailureAction }}
    networks:
      - {{ .Network }}

networks:
  {{ .Network }}:
    external: true
